.b_table{
    border-spacing: 10px;
    width: 900px;
    height: 800px;
    position: relative;
    left: 400px;
    top: 150px;
}
.pic{
    float: left;
    width: 200px;
    height: 200px;
    padding: 20px 1px 30px 50px;
    list-style-type: none;
    text-align: center;
}
.name {
    width: 200px;
    text-align: center;
    overflow: hidden;
    text-overflow:ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
}
