{% extends 'Base.html' %}
    {% block title %}科技{% endblock %}
    {% block head_style %}
        <link rel="stylesheet" type="text/css" href="/static/css/head_style.css">
    {% endblock %}
    {% block body_title %}
        <div class="b_table">
            {% for i in science_and_technology_video %}
                <ul >
                    <li class="pic">
                        <a href="{{i.video_detail_url}}">
                        <img style="height: 100%;width: 100%" src="../{{ i.image }}">
                        <div class="name">
                        {{ i.video_name }}
                        </div>
                        </a>
                    </li>
                </ul>
            {% endfor %}
        </div>
        <div class="pagination" style="position: relative; text-align: center">
            <span class="step-links">
            {% if science_and_technologys.has_previous %}
                <a href="?page={{ science_and_technologys.previous_page_number }}">上一页</a>
            {% else %}
                <a href="#">上一页</a>
            {% endif %}

            {% for page in science_and_technologys.paginator.page_range %}
                {% if science_and_technologys.number == page %}

                    <span class="active"><a href="?page={{ page }}" >{{ page }}</a></span>
                    {% else %}
                    <span><a href="?page={{ page }}">{{ page }}</a></span>
                {% endif %}
            {% endfor %}
            {% if science_and_technologys.has_next %}
                <a href="?page={{ science_and_technologys.next_page_number }}">下一页</a>
            {% else %}
                <a href="#">下一页</a>
            {% endif %}
            </span>
        </div>
{% endblock %}
